### Ansible ###
*.retry

# Vendored Ansible Galaxy roles
**/roles/

# Broken/WIP playbook directories
linux-kali/

### JetBrains IDEs ###
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/

### Build tools ###
cmake-build-*/
.gradle
**/build/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
